.App {
  background: linear-gradient(to right, #000428 0, #141e30 50%, #243b55 100%);;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.mainSection {
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
  overflow: hidden;
  width: 400px;
  /* padding: 20px; */
}
.header {
  background: linear-gradient(to right, #000428 0, #141e30 50%, #243b55 100%);
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}
.sub {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}
.items {
  padding: 25px;
  background: #212121;
}
.downloadBtn:disabled{
background: #ffffff1f;
color: #FFFFFF4D !important;
}